@import "tailwindcss";

/* PENTING: Baris ini memaksa Tailwind v4 untuk menggunakan mode 'class' (.dark)
   bukannya mode system default.
*/
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Deklarasi Variabel Warna */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Saat class .dark aktif (di tag html), variabel ini akan menimpa yang di atas.
*/
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Transisi halus */
}

html {
  scroll-behavior: smooth;
}